{% extends 'bootstrap/base.html' %}
{% block title %}Simple Notes - Admin Mode{% endblock %}

<html>
    {% block content %}
    <head>
        <style>
            footer {
                text-align: center;
                padding: 3px;
                background-color: #7759C2;
                color: white;
            }
            a:link {
                color: white;
                text-decoration: underline;
            }
            a:visited {
                color: white;
            }
            a:hover {
                color: white;
            }
            a:active {
                color: white;
            }
            center {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <center>
            <h1>Simple Notes - Admin Mode</h1>

            <img src="{{ gitlab_logo }}" alt="GitLab Logo">

            <hr>

            <h3><b>Notes</b></h3>

            <h4>id | note | ipaddress | hostname</h4>
            <br>
            {% for note in notes %}
                <div><p><b>{{ note }}</b></p></div>
                <br>
            {% endfor %}

            <hr>

            <h3>Reset Database Table</h3>
            <form class="form-inline" action="" method="post" novalidate>
                {{ reset_form.hidden_tag() }}
                <p>
                    {{ reset_form.reset() }}
                </p>
            </form>
        </center>
    </body>

    <footer>
        <p>Created by GitLab's <a href="https://about.gitlab.com/handbook/marketing/strategic-marketing/technical-marketing/#which-technical-marketing-manager">Technical Marketing Team</a></p>
    </footer>
    {% endblock %}

</html>
