{% extends 'bootstrap/base.html' %}
{% block title %}Simple Notes{% endblock %}
<html>
    {% block content %}
    <head>
        <style>
            footer {
                text-align: center;
                padding: 3px;
                background-color: #7759C2;
                color: white;
            }
            a:link {
                color: white;
                text-decoration: underline;
            }
            a:visited {
                color: white;
            }
            a:hover {
                color: white;
            }
            a:active {
                color: white;
            }
            center {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <center>
            <h1>Simple Notes</h1>

            <img src="{{ gitlab_logo }}" alt="GitLab Logo">
            
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <hr>

            <h3><b>Notes</b></h3>

            <h4>id | note</h4>
            <br>
            {% for note in notes %}
                <div><p><b>{{ note }}</b></p></div>
                <br>
            {% endfor %}

            <hr>
            
            <h3>Add a new note</h3>
            <form class="form-inline" action="" method="post" novalidate>
                {{ add_form.hidden_tag() }}
                <p>
                    {{ add_form.note_field.label }}
                    {{ add_form.note_field(size=32) }}
                    {{ add_form.add() }}
                </p>
            </form>

            <hr>

            <h3>Delete an old note</h3>
            <form class="form-inline" action="" method="post" novalidate>
                {{ delete_form.hidden_tag() }}
                <p>
                    {{ delete_form.id_field.label }}
                    {{ delete_form.id_field(size=2) }}
                    {{ delete_form.delete() }}
                </p>
            </form>

            <hr>

            <h3>Admin?</h3>
            <form class="form-inline" action="" method="post" novalidate>
                {{ admin_form.hidden_tag() }}
                <p>
                    {{ admin_form.login() }}
                </p>
            </form>

            <hr>

        </center>
    </body>
    
    <footer>
        <p>Created by GitLab's <a href="https://about.gitlab.com/handbook/marketing/strategic-marketing/technical-marketing/#which-technical-marketing-manager">Technical Marketing Team</a></p>
    </footer>
    {% endblock %}
</html>
